@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(98% 0 0);
  --foreground: oklch(24% 0 0);
  --card: oklch(99% 0 0);
  --card-foreground: oklch(24% 0 0);
  --popover: oklch(99% 0 0);
  --popover-foreground: oklch(24% 0 0);
  --primary: oklch(43% .04 180);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(95% .02 190);
  --secondary-foreground: oklch(30% .02 180);
  --muted: oklch(95% 0 0);
  --muted-foreground: oklch(50% 0 0);
  --accent: oklch(93% 0 0);
  --accent-foreground: oklch(24% 0 0);
  --destructive: oklch(63% .19 33.26);
  --border: oklch(88% 0 0);
  --input: oklch(88% 0 0);
  --ring: oklch(43% .04 180);
  --chart-1: oklch(43% .04 180);
  --chart-2: oklch(92% .07 190);
  --chart-3: oklch(93% 0 0);
  --chart-4: oklch(94% .05 185);
  --chart-5: oklch(43% .04 180);
  --sidebar: oklch(99% 0 0);
  --sidebar-foreground: oklch(26% 0 0);
  --sidebar-primary: oklch(33% 0 0);
  --sidebar-primary-foreground: oklch(99% 0 0);
  --sidebar-accent: oklch(98% 0 0);
  --sidebar-accent-foreground: oklch(33% 0 0);
  --sidebar-border: oklch(94% 0 0);
  --sidebar-ring: oklch(77% 0 0);
  --theme-background: oklch(98% 0 0);
  --theme-accent: oklch(55% .18 180);
}

.dark {
  --background: oklch(18% 0 0);
  --foreground: oklch(95% 0 0);
  --card: oklch(21% 0 0);
  --card-foreground: oklch(95% 0 0);
  --popover: oklch(21% 0 0);
  --popover-foreground: oklch(95% 0 0);
  --primary: oklch(75% .08 180);
  --primary-foreground: oklch(20% .02 180);
  --secondary: oklch(32% .02 190);
  --secondary-foreground: oklch(75% .08 180);
  --muted: oklch(25% 0 0);
  --muted-foreground: oklch(77% 0 0);
  --accent: oklch(29% 0 0);
  --accent-foreground: oklch(95% 0 0);
  --destructive: oklch(63% .19 33.26);
  --border: oklch(24% .01 88.77);
  --input: oklch(40% 0 0);
  --ring: oklch(75% .08 180);
  --chart-1: oklch(75% .08 180);
  --chart-2: oklch(32% .02 190);
  --chart-3: oklch(29% 0 0);
  --chart-4: oklch(35% .02 185);
  --chart-5: oklch(75% .08 180);
  --sidebar: oklch(21% .01 285.56);
  --sidebar-foreground: oklch(97% 0 0);
  --sidebar-primary: oklch(49% .22 264.43);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(27% .01 285.81);
  --sidebar-accent-foreground: oklch(97% 0 0);
  --sidebar-border: oklch(27% .01 285.81);
  --sidebar-ring: oklch(87% .01 286.27);
  --theme-background: oklch(15% 0 0);
  --theme-accent: oklch(75% .18 180);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}